<?php echo $this->Html->css('custom'); ?>
<?php echo $this->element('menu'); ?>
<div class="portfolios index">
	<h2><?php echo __('Portfolios'); ?></h2>
	<table cellpadding="0" cellspacing="0">
	<thead>
	<tr>
        <th><?php echo $this->Paginator->sort('project_id'); ?></th>
        <th><?php echo $this->Paginator->sort('order'); ?></th>
        <th class="actions"><?php echo __('Actions'); ?></th>
	</tr>
	</thead>
	<tbody>
	<?php foreach ($portfolios as $portfolio): ?>
	<tr>
		<td>
			<?php echo $this->Html->link($portfolio['Project']['name'], array('controller' => 'projects', 'action' => 'edit', $portfolio['Project']['id'])); ?>
		</td>
		<td><?php echo h($portfolio['Portfolio']['order']); ?>&nbsp;</td>
		<td class="actions">
			<?php echo $this->Html->link(__('Edit'), array('action' => 'edit', $portfolio['Portfolio']['id'])); ?>
			<?php echo $this->Form->postLink(__('Delete'), array('action' => 'delete', $portfolio['Portfolio']['id']), array('confirm' => __('Are you sure you want to delete # %s?', $portfolio['Portfolio']['id']))); ?>
		</td>
	</tr>
<?php endforeach; ?>
	</tbody>
	</table>
	<p>
	<?php
	echo $this->Paginator->counter(array(
		'format' => __('Page {:page} of {:pages}, showing {:current} records out of {:count} total, starting on record {:start}, ending on {:end}')
	));
	?>	</p>
	<div class="paging">
	<?php
		echo $this->Paginator->prev('< ' . __('previous'), array(), null, array('class' => 'prev disabled'));
		echo $this->Paginator->numbers(array('separator' => ''));
		echo $this->Paginator->next(__('next') . ' >', array(), null, array('class' => 'next disabled'));
	?>
	</div>
</div>
<div class="actions">
	<h3><?php echo __('Actions'); ?></h3>
	<ul>
		<li><?php echo $this->Html->link(__('List Projects'), array('controller' => 'projects', 'action' => 'index')); ?> </li>
		<li><?php echo $this->Html->link(__('New Project'), array('controller' => 'projects', 'action' => 'add')); ?> </li>
	</ul>
</div>
