<?php echo $this->Html->css('custom'); ?>
<?php echo $this->element('menu'); ?>
<div class="socialLinks index">
	<h2><?php echo __('Social Links'); ?></h2>
	<table cellpadding="0" cellspacing="0">
	<thead>
	<tr>
			<th><?php echo $this->Paginator->sort('id'); ?></th>
			<th><?php echo $this->Paginator->sort('name'); ?></th>
			<th><?php echo $this->Paginator->sort('icon'); ?></th>
			<th><?php echo $this->Paginator->sort('link'); ?></th>
			<th><?php echo $this->Paginator->sort('active'); ?></th>
			<th><?php echo $this->Paginator->sort('order'); ?></th>
			<th class="actions"><?php echo __('Actions'); ?></th>
	</tr>
	</thead>
	<tbody>
	<?php foreach ($socialLinks as $socialLink): ?>
	<tr>
		<td><?php echo h($socialLink['SocialLink']['id']); ?>&nbsp;</td>
		<td><?php echo h($socialLink['SocialLink']['name']); ?>&nbsp;</td>
		<td><?php echo $this->Html->image('/files/logos/' . $socialLink['SocialLink']['icon'], array('alt'=>'picture', 'width'=> '30px','height' => '30px')); ?>&nbsp;</td>
		<td><?php echo h($socialLink['SocialLink']['link']); ?>&nbsp;</td>
		<td><?php echo h($socialLink['SocialLink']['active']); ?>&nbsp;</td>
		<td><?php echo h($socialLink['SocialLink']['order']); ?>&nbsp;</td>
		<td class="actions">
			<?php echo $this->Html->link(__('Edit'), array('action' => 'edit', $socialLink['SocialLink']['id'])); ?>
			<?php echo $this->Form->postLink(__('Delete'), array('action' => 'delete', $socialLink['SocialLink']['id']), array('confirm' => __('Are you sure you want to delete # %s?', $socialLink['SocialLink']['id']))); ?>
		</td>
	</tr>
<?php endforeach; ?>
	</tbody>
	</table>
	<p>
	<?php
	echo $this->Paginator->counter(array(
		'format' => __('Page {:page} of {:pages}, showing {:current} records out of {:count} total, starting on record {:start}, ending on {:end}')
	));
	?>	</p>
	<div class="paging">
	<?php
		echo $this->Paginator->prev('< ' . __('previous'), array(), null, array('class' => 'prev disabled'));
		echo $this->Paginator->numbers(array('separator' => ''));
		echo $this->Paginator->next(__('next') . ' >', array(), null, array('class' => 'next disabled'));
	?>
	</div>
</div>
<div class="actions">
	<h3><?php echo __('Actions'); ?></h3>
	<ul>
		<li><?php echo $this->Html->link(__('New Social Link'), array('action' => 'add')); ?></li>
	</ul>
</div>
