
.ddsmoothmenu ul{
	z-index:100;
	margin: 0;
	padding: 0;
	list-style-type: none;
}

/*Top level list items*/
.ddsmoothmenu ul li{
	position: relative;
	display: inline;
	float: left;
}

/*Top level menu link items style*/
.ddsmoothmenu ul li a {
	background-color:black; 
	border-radius:5px;
	display: block;
	height: 35px;
	width: 85px;
	margin-left: px;
	line-height: 23px;
	font-size: 15px;
	/*text-shadow:0 02px #4F4F4F;*/
	color: #bbb;	
	text-align: center;
	text-decoration: none;
	font-weight: 400;
	outline: none;
	padding:6px 0 0 0;
}
.border_right {
    background: url("../images/border-right.png") repeat-y scroll 0 0 transparent;
    float: left;
    height: 35px;
    width: 2px;
}
* html .ddsmoothmenu ul li a{ /*IE6 hack to get sub menu links to behave correctly*/
display: inline-block;
}

.ddsmoothmenu ul li a.selected, .ddsmoothmenu ul li a:hover{
	background-color:  #000040;
}
#templatemo_menu ul li.active {
	background-color:  #000040;
}
/*1st sub level menu*/
.ddsmoothmenu ul li ul {
	position: absolute;
	width: 160px;
	margin: 10px 0 0 5px;
	left: 0;
	display: none; /*collapse all sub menus to begin with*/
	visibility: hidden;
	background: url(../images/templatemo_smm.png) repeat-y
}

.ddsmoothmenu ul li ul span.top { position: absolute; width: 160px; height: 5px; top: -5px; left: 0;  background: url(../images/templatemo_smt.png) no-repeat; }
.ddsmoothmenu ul li ul span.bottom { position: absolute; width: 160px; height: 5px; bottom: -5px; left: 0;  background: url(../images/templatemo_smb.png) no-repeat; }

/*Sub level menu list items (undo style from Top level List Items)*/
.ddsmoothmenu ul li ul li{
display: list-item;
float: none;
}

/*All subsequent sub menu levels vertical offset after 1st level sub menu */
.ddsmoothmenu ul li ul li ul{
top: 0;
}

/* Sub level menu links style */
.ddsmoothmenu ul li ul li a{
	font-weight: 500;
	width: 140px; /*width of sub menus*/
	height: 28px;
	line-height: 28px;
	margin: 0 10px;
	font-size: 12px;
	text-align: left;
	background: none;
	color: #a9a2a2;
	border-bottom: 1px solid #151515;
	padding:6px 0 0 0;
}

.ddsmoothmenu ul li ul li .last {
	border-bottom: none;
}

.ddsmoothmenu ul li ul li a.selected, .ddsmoothmenu ul li ul li a:hover {
	color: #B3B3B3;
	width: 129px;
	margin-left: 11px;
	background: none;
}

/* Holly Hack for IE \*/
* html .ddsmoothmenu{height: 1%;} /*Holly Hack for IE7 and below*/


/* ######### CSS classes applied to down and right arrow images  ######### */

.downarrowclass{
position: absolute;
top: 12px;
right: 7px;
}

.rightarrowclass{
position: absolute;
top: 6px;
right: 5px;
}

/* ######### CSS for shadow added to sub menus  ######### */

.ddshadow{
position: absolute;
left: 0;
top: 0;
width: 0;
height: 0;
}

.toplevelshadow{ /*shadow opacity. Doesn't work in IE*/
opacity: 0.5;
}
/* menu */
.display_ajax_message {
    background-color: #FFFF00;
    border: 1px solid #fff;
    color: #000040;
    display: none;
    float: left;
    font-family: Tahoma,Geneva,sans-serif;
    height: 23px;
    padding: 4px 0 0 0;
    text-align: center;
    width: 278px;
}