@import url('templatemo_style.css');
@import url('ddsmoothmenu.css');
/*////////////////////////////////////Start 240px x 319px\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\*/
@media only screen and (min-width: 240px) and (max-width: 319px) {



    @media screen and (orientation:portrait) {
    }
    @media screen and (orientation:landscape) {
    }
}
/*////////////////////////////////////End 240px x 319px\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\*/

/*=========================================================================================================================================*/



















/*////////////////////////////////////Start 320px x 479px\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\*/

@media only screen and (min-width: 320px) and (max-width: 479px) {


    #container {
        height: auto;
        width: 100%;
    }
    body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, button, textarea, p, blockquote, th, td {
        margin: 0;
        padding: 0;
    }
    a, a:link, a:visited {
        color: #7f0d0d;
        font-weight: normal;
        text-decoration: none;
    }

    a:hover {
        text-decoration: underline;
    }

    a.more {
        display: inline-block;
        padding-left: 12px;
        background: url(../images/templatemo_list.png) no-repeat 0 4px;
        color:#C8C8C8;
    }

    p {
        margin: 0 0 10px 0;
        padding: 0;
    }

    img {
        border: none;
    }

    blockquote {
        font-style: italic;
        margin: 0 0 0 10px;
    }

    cite {
        font-weight: bold;
        color:#000;
    }

    cite a, cite a:link, cite a:visited  {
        font-size: 12px;
        text-decoration: none;
        font-style: normal;
    }

    cite span {
        font-weight: 400;
        color: #7f0d0d;
    }

    h1, h2, h3, h4, h5, h6 { color: #2c2c2c; font-weight: normal; }
    h1 { font-size: 48px; margin: 0 0 30px; padding: 5px 0 }
    h2 {  margin:  -24px 0 10px 0px; font:bold 23px Agency FB; color:#000040; text-shadow:0 3px #FFCECE }
    h3 { font-size: 24px; margin: 0 0 20px; padding: 0; }
    h4 { font-size: 18px; margin: 0 0 15px; padding: 0; }
    h5 { font-size: 16px; margin: 0 0 10px; padding: 0;  }
    h6 { font-size: 12px; margin: 0 0 5px; padding: 0; }

    .cleaner { clear: both }
    .h10 { height: 10px }
    .h20 { height: 20px }
    .h30 { height: 30px }
    .h40 { height: 40px }
    .h50 { height: 50px }
    .divider { margin-bottom: 40px; padding-bottom: 20px; background: url(../images/templatemo_divider.png) repeat-x bottom; }

    .image_fl { float: left; margin: 3px 20px 5px 0 }
    .image_fr { float: right; margin: 3px 0 5px 20px }

    .float_l { float: left }
    .float_r { float: right }

    .templatemo_list {
        margin: 10px 0 10px 15px;
        padding: 0;
        list-style: none;
    }

    .templatemo_list li {
        color:#52493a;
        margin: 0 0 10px 0;
        padding: 0 5px 0 15px;
        background: url(../images/templatemo_list.png) no-repeat scroll 0 4px;
    }

    .templatemo_list li a {
        color: #52493a;
        font-weight: normal;
    }

    .templatemo_list li a:hover {
        color: #52493a;
    }

    #templatemo_header_wrapper {
        width:100%;
        height:170px;
        background: url(../images/header.jpg) repeat-x ;
    }

    #templatemo_slider {
        width: 960px;
        margin: 0 auto;
        padding: 0 10px 10px;
    }

    #templatemo_main {
        width: 960px;
        margin: 0 auto;
        padding: 40px 10px 20px 30px;
        background:#FFB0B0;
        margin-bottom: 40px;
        border-radius:7px;
    }

    #content {
        float: left;
        width: 600px;
        padding-right: 20px;
    }

    #sidebar {
        float: right;
        width: 300px;
    }

    #templatemo_bottom_wrapper {
        width: 100%;
        background: #272525;
    }

    #templatemo_bottom {
        width: 960px;
        margin: 0 auto;
        padding: 0 10px 20px;
    }

    #templatemo_footer_wrapper {
        width: 100%;
        background: #181818;
    }

    #templatemo_footer {
        width: 960px;
        margin: 0 auto;
        padding: 10px;
        text-align: center;
    }

    #templatemo_footer a {
        color: #6e6e6e;
    }

    #site_title {
        background: url("../images/title_back.png") scroll 0 0 transparent;
        color: #FFFFFF;
        float: left;
        height: 97px;
        text-shadow: 3px 0 #BBBBBB;
        width: 323px;
        margin: 50px 0 0 142px;
        position:relative;
    }

    .title {
        font-family: Algerian;
        font-size: 35px;
        left: 64px;
        position: absolute;
        text-shadow: 03px 0 #64DB76;
        top: 19px;

    }
    .quote {
        left: 110px;
        position: absolute;
        text-shadow: 0px 01px #64DB76;
        top: 40px;
    }

    .cell {
        position:absolute;
        top:65px;
        left:1065px;
        float:left;
    }

    .country_icon { background: url("../images/bd.png") no-repeat scroll center bottom transparent;
        float: left;
        width:27px;
        height: 24px;
        padding:1px
    }
    .cell_no {
        color: #000040;
        display: block;
        font: bold 18px 'Arial';
        text-align: left;
        float:left;
    }
    .menu { background: url("../images/menushed.png") no-repeat scroll center bottom transparent;
        float: left;
        height: 50px;
        left:720px;
        top:110px;
        width: 520px;
        position: absolute;}
    #templatemo_menu {background-color:black; border-radius:px;}

    #slider-left-but {
        display: block;
        width: 30px;
        height: 30px;
        border: none;
        background: url(../images/templatemo_slider_left.png);
        margin-right: 10px;
    }

    #slider-right-but {
        display: block;
        width: 30px;
        height: 30px;
        border: none;
        background: url(../images/templatemo_slider_right.png);
    }

    .rp_pp {
        margin-bottom: 10px;
        padding-bottom: 10px;
        border-bottom: 1px dotted #ced4dc;
    }

    .rp_pp img {
        float: left;
        margin-right: 15px;
        border: 3px solid #fff;
    }

    .rp_pp p {
        font-size: 10px;
    }

    .about_box {
        clear: both;
        margin-bottom: 40px;
    }

    .about_box img {
        float: left;
        margin-right: 40px;
    }

    .about_box h4 {
        font-size: 14px;
        font-weight: bold;
        font-style: italic;
        margin-bottom: 0px;
    }

    p.position {
        color: #f3a706;
        font-weight: bold;
        font-size: 12px;
        font-style: italic;
        margin-bottom: 10px;
    }

    .recent_post {
        margin: 0;
        padding:0;
        list-style: none;
    }

    .recent_post li {
        margin: 0 0 15px;
        padding: 0 0 15px;
        font-size: 11px;
        border-bottom: 1px solid #ccc;
    }

    .recent_post li a {
        display: block;
        font-weight: 700;
    }

    .post {
        clear: both;
        margin-bottom: 60px;
    }

    .post img {
        margin-bottom: 10px;
    }

    .post h2.home {
        color: #ba8c00;
        font-size: 18px;
        margin-bottom: 0;
    }

    .post h2 {
        margin-bottom: 0;
        line-height: 38px;
        border-bottom: 1px solid #999;
        margin-bottom: 20px;
    }

    .post .meta {
        font-size: 10px;
        margin-bottom: 20px;
        border: 1px solid #ccc;
        border-left: none;
        border-right: none;
    }

    .post .meta span {
        float: left;
        display: block;
        margin-right: 20px;
        padding: 5px 0 5px 30px;
    }

    .post .meta span.admin {
        background: url(../images/agent.png) no-repeat;
    }

    .post .meta span.date {
        background: url(../images/calendar.png) no-repeat;
    }

    .post .meta span.tag {
        background: url(../images/tag.png) no-repeat;
    }

    .post .meta span.comment {
        background: url(../images/chat.png) no-repeat;
    }

    .post .meta span.more_but {
        float: right;
    }

    .post .meta span.more_but a {
        color: #7f0d0d;
    }

    .post .meta a, .post .meta strong {
        color: #7b7b7b;
        font-weight: 700;
    }

    #comment_section {
        clear: both;
        margin-bottom: 60px;
        width: 538px;
    }

    .first_level {
        margin: 0; padding: 0;
    }

    .comments {
        list-style: none;
    }

    .comments li {
        margin-bottom: 10px;
        list-style:none;
    }

    .comments li .commentbox1 {
        border: 1px solid #d7cfbe;
    }

    .comments li .commentbox2 {
        border: 1px solid #ccc;
    }

    .comments li .comment_box {
        clear: both;
        width:100%;
        padding: 10px 30px 20px 30px;
        margin-bottom: 40px;
    }

    .comment_box .gravatar {
        float: left;
        width: 75px;
        margin-right: 30px;
    }

    .comment_box .gravatar img {
        width: 75px;
        height: 75px;
    }

    .comment_box .comment_text {  }

    .comment_box .comment_text p {
        margin: 0;
    }

    .comment_text .comment_author {
        font-size: 14px;
        font-weight: bold;
        color: #7f0d0d;
        margin-bottom: 10px;
    }

    .comment_text .date {
        font-size: 12px;
        font-weight: normal;
        color: #7b7b7b;
        padding-left: 10px;
    }

    .comment_text .time {
        font-size: 12px;
        font-weight: normal;
        color: #7b7b7b;
        padding-left: 10px;
    }

    .comment_text .reply a {
        display: block;
        clear: both;
        float: right;
        color: #444;
        font-weight: 700;
    }

    #comment_form {
        clear: both;
    }

    #comment_form h3 {
        font-size: 20px;
        border-bottom: 1px solid #1b1b1b;
        margin-bottom: 15px;
        padding-bottom: 10px;
    }

    #comment_form form {
    }

    #comment_form textarea {
        color: #000;
        background:#fff;
        border: 1px solid #ccc;
        height:150px;
        padding:5px;
        width: 360px;
        font-family: Tahoma, Geneva, sans-serif;
        font-size: 12px;
        margin-top: 5px;
    }

    #comment_form .form_row {
        width: 100%;
        margin-bottom: 15px;
    }

    #comment_form form input {
        color: #000;
        padding: 5px;
        width: 200px;
        background:#fff;
        border: 1px solid #ccc;
        font-family: Tahoma, Geneva, sans-serif;
        font-size: 12px;
        margin-top: 5px;
    }

    #comment_form .submit_btn {
        width: 80px;
        height: 30px;
        color: #000;
        background:#fff;
        border: 1px solid #ccc;
    }

    .gallery_box {
        margin-bottom: 40px;
    }

    .gallery_box img {
        margin-bottom: 10px;
    }

    .gallery_box h5 {
        font-size: 12px;
        font-weight: 700;
        margin-bottom:0;
    }

    .gallery_box p {
        font-size: 11px;
    }

    .testimonial {
        padding: 0 0 20px 70px;
        margin-bottom: 30px;
        border-bottom: 1px dotted #ced4dc;
        display: block;
        background: url(../images/speech_bubble_grey.png) left top no-repeat;
    }

    #contact_form {
        padding: 0;
        width: 410px;
        margin-bottom: 40px;
    }

    #contact_form form {
        margin: 0px;
        padding: 0px;
    }

    #contact_form form .input_field {
        width: 270px;
        padding: 5px;
        color: #333;
        background: url(../images/textbox_img.png) repeat-x;
        border:none;
        font-family: Tahoma, Geneva, sans-serif;
        font-size: 12px;
        margin-top: 5px;
    }

    #contact_form form label {
        display: block;
        width: 100px;
        margin-right: 12px;
        font-size: 12px;
    }

    #contact_form form textarea {
        width: 398px;
        height: 200px;
        padding: 5px;
        color: #333;
        background: url(../images/textbox_img.png) repeat;
        border:none;
        font-family: Tahoma, Geneva, sans-serif;
        font-size: 12px;
        margin-top: 5px;
    }

    #contact_form form .submit_btn {
        display: block;
        width: 109px;
        height: 32px;
        background: url(../images/save_button.png) no-repeat;
        padding: 0 0 5px;
        border-radius:2px;
        color: #fff;
        font: bold 13px  Tahoma, Geneva, sans-serif;
        border: none;
        margin: 10px 0px;
    }

    #templatemo_bottom h4 {
        display: block;
        position: relative;
        height: 27px;
        padding-top: 5px;
        margin-left: 27px;
        color: #fff;
        background:url(../images/templatemo_footer_header_right.png) no-repeat right;
        text-shadow:0 03px #8C8C8C;
    }

    #templatemo_bottom h4 span {
        position: absolute;
        top: 0;
        left: -27px;
        width: 27px;
        height: 32px;
        background: url(../images/templatemo_footer_header_left.png) no-repeat left;
    }

    #templatemo_bottom .bottom_box {
        padding: 0 30px;
    }

    #templatemo_bottom a {
        color: #aca6a6;
    }

    .footer_list {
        margin: 0;
        padding: 0;
        list-style: none;
    }

    .footer_list li {
        margin: 0 0 5px;
        padding: 0 0 5px;
        border-bottom: 1px dotted #313030;
    }

    .footer_list li a {
        color: #aca6a6;
    }

    .twitter_post {
        margin: 0;
        padding: 0;
        list-style: none;
    }

    .twitter_post li {
        margin: 0 0 10px;
        padding: 0 0 7px;
        border-bottom: 1px dotted #313030;
    }

    .footer_social_button {
        clear: both;
        margin-bottom: 40px;
    }

    .footer_social_button a {
        margin-right: 5px;
    }

    .col {
        float: left;
        margin: 0 20px 20px 0;
    }

    .half {
        width: 450px;
    }

    #sidebar, .one_third {
        width: 300px;
    }

    .two-third {
        width: 620px;
    }

    .padding_right {
        padding-right: 20px;
    }

    .one_fourth {
        width: 220px;
    }

    .no_margin_right {
        margin-right: 0;
    }

    .last_box {
        margin-bottom: 0;
        background: none;
    }

    .pagging {
        margin: 0 0 20px;
        padding: 0;
    }

    .pagging ul {
        margin: 0;
        padding: 0;
        list-style: none;
    }

    .pagging ul li {
        margin: 0;
        padding: 0;
        display: inline;
    }
    .pagging ul li a {
        float: left;
        display: block;
        color: #333;
        text-decoration: none;
        margin-right: 5px;
        padding: 5px 10px;
        background: #fff;
        border: 1px solid #ccc;
    }

    .pagging ul li a:hover {
        background: #7f0d0d;
        border: 1px solid #fff;
        color: #fff;
    }





    @media screen and (orientation:portrait) {
    }
    @media screen and (orientation:landscape) {
    }
}
/*////////////////////////////////////End 320px x 479px\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\*/

/*=========================================================================================================================================*/























/*////////////////////////////////////Start 480px x 539px\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\*/
@media only screen and (min-width: 480px) and (max-width: 539px) {


    .wrapper {
        margin: 0 auto;
        width: 480px;
    }
    .logo {
        float: left;
        height: 26px;
        overflow: hidden;
        padding-left: 5px;
        padding-top: 24px;
        width: 50%;
    }
    .print-mail {
        float: right;
        width: 33%;
    }
    .main-container {
        padding-top: 2px;
    }
    .col1 {
        float: left;
        width: 99%;
        margin-bottom: 5px;
        margin-left: 0;
    }
    .col1 .normal-block {
        padding-bottom: 20px;
        padding-left: 5px;
    }
    .white-block {
        background: none repeat scroll 0 0 #FFFFFF;
        border-color: #EEEEEE;
        border-style: solid;
        border-width: 1px 1px 3px;
        color: #3A3E3D;
        width: 100%;
    }
    .additional-contact-left {
        float: left;
        padding-right: 4px;
        padding-top: 8px;
        width: 30%;
    }
    .additional-contact-right {
        float: left;
        padding-top: 5px;
        width: 67%;
    }
    .additional-contact-title {
        font-size: 14px;
        font-weight: bold;
        padding-top: 20px;
        width: 99%;
    }
    .white-block-content {
        font-size: 12px;
        padding: 5px 2px;
    }
    .white-block-content-left {
        float: left;
        font-weight: bold;
        padding-right: 10px;
        text-align: right;
        width: 120px;
    }
    .flag {
        bottom: 0;
        height: 29px;
        left: 44px;
        overflow: hidden;
        position: absolute;
        top: 113px;
        width: 38px;
    }
    .flag img {
        height: auto;
        max-width: 100%;
    }
    .col2 {
        float: left;
        padding-left: 2px;
        width: 98%;
    }
    .blue-block {
        background-color: #5090D8;
        padding: 5px 3px;
        position: relative;
    }
    .meter-all {
        border-right: 1px solid #7EB6F1;
        float: left;
        margin-bottom: 10px;
        margin-top: 11px;
        padding-left: 15px;
        text-align: center;
        width: 46%;
    }
    .col2 .normal-block {
        padding-top: 10px;
    }
    .col-padding1 {
        padding-left: 0;
    }
    .white-block-content-header {
        background-color: #FAFBFD;
        font-size: 20px;
        padding: 10px 0 9px 5px;
    }
    .estimated-trip-value-top {
        background-color: #6DCABF;
        padding-bottom: 7px;
        position: relative;
        width: 100%;
    }
    .estimated-graph-left {
        background-image: url("images/average-circle-bg.png");
        background-position: 0 82px;
        background-repeat: no-repeat;
        color: #555555;
        float: left;
        font-size: 14px;
        font-weight: lighter;
        padding-left: 15px;
        padding-top: 17%;
        width: 34%;
    }
    .top-arrow {
        bottom: -4px;
        left: 265px;
        position: absolute;
    }
    .estimated-graph-right {
        float: left;
        padding-left: 5px;
        width: 60%;
    }
    .demographic {
        padding-bottom: 10px;
    }
    .trip-booked {
        padding-bottom: 10px;
    }
    .normal-block-header {
        font-size: 28px;
        font-weight: bold;
        line-height: 30px;
    }
    .white-block-header-title {
        float: left;
        font-size: 20px;
        font-weight: bold;
        line-height: 24px;
    }
    .main-container-row {
        padding: 0 0 10px;
    }
    .print-mail li a img {
        border: 1px solid #C8D2DC;
        height: auto;
        max-width: 80%;
    }
    .white-block-content-left2 {
        float: left;
        font-weight: bold;
        padding-left: 15px;
        padding-right: 0;
        text-align: left;
        width: 340px;
    }







    @media screen and (orientation:portrait) {
    }
    @media screen and (orientation:landscape) {
    }
}
/*////////////////////////////////////End 481px x 539px\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\*/

/*=========================================================================================================================================*/























/*////////////////////////////////////Start 540px x 599px\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\*/
@media only screen and (min-width: 540px) and (max-width: 599px) {



    @media screen and (orientation:portrait) {
    }
    @media screen and (orientation:landscape) {
    }
}
/*////////////////////////////////////End 540px x 599px\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\*/

/*=========================================================================================================================================*/





















/*////////////////////////////////////Start 600px x 688px\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\*/
@media only screen and (min-width: 600px) and (max-width: 688px) {

    .wrapper {
        margin: 0 auto;
        width: 600px;
    }
    .logo {
        float: left;
        height: 26px;
        overflow: hidden;
        padding-left: 5px;
        padding-top: 24px;
        width: 50%;
    }
    .print-mail {
        float: right;
        width: 33%;
    }
    .main-container {
        padding-top: 2px;
    }
    .col1 {
        float: left;
        width: 99%;
        margin-bottom: 5px;
        margin-left: 0;
    }
    .col1 .normal-block {
        padding-bottom: 20px;
        padding-left: 5px;
    }
    .white-block {
        background: none repeat scroll 0 0 #FFFFFF;
        border-color: #EEEEEE;
        border-style: solid;
        border-width: 1px 1px 3px;
        color: #3A3E3D;
        width: 100%;
    }
    .additional-contact-left {
        float: left;
        padding-right: 4px;
        padding-top: 8px;
        width: 30%;
    }
    .additional-contact-right {
        float: left;
        padding-top: 5px;
        width: 67%;
    }
    .additional-contact-title {
        font-size: 14px;
        font-weight: bold;
        padding-top: 20px;
        width: 99%;
    }
    .white-block-content {
        font-size: 14px;
        padding: 5px 2px;
    }
    .white-block-content-left {
        float: left;
        font-weight: bold;
        padding-right: 10px;
        text-align: right;
        width: 120px;
    }
    .flag {
        bottom: 0;
        height: 29px;
        left: 44px;
        overflow: hidden;
        position: absolute;
        top: 113px;
        width: 38px;
    }
    .flag img {
        height: auto;
        max-width: 100%;
    }
    .col2 {
        float: left;
        padding-left: 2px;
        width: 99%;
    }
    .blue-block {
        background-color: #5090D8;
        padding: 5px 3px;
        position: relative;
    }
    .meter-all {
        border-right: 1px solid #7EB6F1;
        float: left;
        margin-bottom: 10px;
        margin-top: 11px;
        padding-left: 15px;
        text-align: center;
        width: 46%;
    }
    .col2 .normal-block {
        padding-top: 10px;
    }
    .col-padding1 {
        padding-left: 0;
    }
    .white-block-content-header {
        background-color: #FAFBFD;
        font-size: 20px;
        padding: 10px 0 9px 5px;
    }
    .estimated-trip-value-top {
        background-color: #6DCABF;
        padding-bottom: 7px;
        position: relative;
        width: 100%;
    }
    .estimated-graph-left {
        background-image: url("images/average-circle-bg.png");
        background-position: 0 80px;
        background-repeat: no-repeat;
        color: #555555;
        float: left;
        font-size: 14px;
        font-weight: lighter;
        padding-left: 15px;
        padding-top: 13%;
        width: 34%;
    }
    .top-arrow {
        bottom: -4px;
        left: 305px;
        position: absolute;
    }
    .estimated-graph-right {
        float: left;
        padding-left: 5px;
        width: 60%;
    }
    .demographic {
        padding-bottom: 10px;
    }
    .trip-booked {
        padding-bottom: 10px;
    }
    .normal-block-header {
        font-size: 28px;
        font-weight: bold;
        line-height: 30px;
    }
    .white-block-header-title {
        float: left;
        font-size: 20px;
        font-weight: bold;
        line-height: 24px;
    }
    .main-container-row {
        padding: 0 0 10px;
    }
    .print-mail li a img {
        border: 1px solid #C8D2DC;
        height: auto;
        max-width: 80%;
    }
    .white-block-content-left2 {
        float: left;
        font-weight: bold;
        padding-left: 15px;
        padding-right: 0;
        text-align: left;
        width: 340px;
    }



    @media screen and (orientation:portrait) {
    }
    @media screen and (orientation:landscape) {
    }
}
/*////////////////////////////////////End 600px x 688px\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\*/

/*=========================================================================================================================================*/














/*////////////////////////////////////Start 689px x 767px\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\*/
@media only screen and (min-width: 689px) and (max-width: 767px) {



    @media screen and (orientation:portrait) {
    }
    @media screen and (orientation:landscape) {
    }
}
/*////////////////////////////////////End 689px x 767px\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\*/

/*=========================================================================================================================================*/





















/*////////////////////////////////////Start 769px x 800px\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\*/
@media only screen and (min-width: 769px) and (max-width: 799px) {

    .wrapper {
        margin: 0 auto;
        width: 768px;
    }
    .logo {
        float: left;
        height: 26px;
        overflow: hidden;
        padding-left: 10px;
        padding-top: 37px;
        width: 25%;
    }
    .col1 {
        float: left;
        margin-left: 5px;
        width: 47%;
    }
    .col2 {
        float: right;
        margin-right: 5px;
        padding-left: 0;
        width: 49%;
    }
    .meter-all {
        border-right: medium none;
        float: left;
        margin-bottom: 10px;
        margin-top: 5px;
        padding-left: 0;
        text-align: center;
        width: 355px;
    }
    .normal-block {
        color: #3A3E3D;
        font-size: 14px;
        width: 91%;
    }
    .estimated-trip-value-top {
        background-color: #6DCABF;
        margin-top: 10px;
        padding-bottom: 7px;
        position: relative;
        width: 100%;
    }
    .white-block {
        background: none repeat scroll 0 0 #FFFFFF;
        border-color: #EEEEEE;
        border-style: solid;
        border-width: 1px 1px 3px;
        color: #3A3E3D;
        width: 100%;
    }
    .website-content a {
        color: #FFFFFF;
        font-size: 24px;
    }
    .responsive-estimate {
        margin-top: 10px;
        padding-left: 10px;
        width: 97.5% !important;
    }
    .additional-contact-left {
        float: left;
        padding-right: 4px;
        padding-top: 8px;
        position: relative;
        width: 34%;
    }
    .trip-booked {
        padding-bottom: 10px;
    }
    .demographic {
        margin-left: 10px;
        padding-bottom: 13px;
    }
    .estimated-graph-left {
        background-image: url("images/average-circle-bg.png");
        background-position: 0 74px;
        background-repeat: no-repeat;
        color: #555555;
        float: left;
        font-size: 14px;
        font-weight: lighter;
        padding-left: 15px;
        padding-top: 9.5%;
        width: 23%;
    }
    .top-arrow {
        bottom: -4px;
        left: 290px;
        position: absolute;
    }
    .main-container-row {
        padding: 0 0 23px;
        width: 99%;
    }
    .total-price {
        background-color: #FAFBFD;
        border-top: 1px solid #EEEEEE;
        font-size: 20px;
        font-weight: bold;
        padding: 10px 17px 10px 0;
        text-align: center;
        width: 94%;
    }
    .white-block-content-left2 {
        float: left;
        font-weight: bold;
        padding-left: 15px;
        padding-right: 0;
        text-align: left;
        width: 235px;
    }
    .flag {
        bottom: 0;
        height: 29px;
        left: 42px;
        overflow: hidden;
        position: absolute;
        top: 107px;
        width: 37px;
    }






    @media screen and (orientation:portrait) {
    }
    @media screen and (orientation:landscape) {
    }
}
/*////////////////////////////////////End 769px x 800px\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\*/

/*=========================================================================================================================================*/


















/*////////////////////////////////////Start 800px x 959px\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\*/
@media only screen and (min-width: 800px) and (max-width: 959px) {

    .wrapper {
        margin: 0 auto;
        width: 800px;
    }
    .logo {
        float: left;
        height: 26px;
        overflow: hidden;
        padding-left: 10px;
        padding-top: 37px;
        width: 25%;
    }
    .col1 {
        float: left;
        margin-left: 5px;
        width: 47%;
    }
    .col2 {
        float: right;
        margin-right: 5px;
        padding-left: 0;
        width: 49%;
    }
    .meter-all {
        border-right: medium none;
        float: left;
        margin-bottom: 10px;
        margin-top: 5px;
        padding-left: 0;
        text-align: center;
        width: 355px;
    }
    .normal-block {
        color: #3A3E3D;
        font-size: 14px;
        width: 91%;
    }
    .estimated-trip-value-top {
        background-color: #6DCABF;
        margin-top: 10px;
        padding-bottom: 7px;
        position: relative;
        width: 100%;
    }
    .white-block {
        background: none repeat scroll 0 0 #FFFFFF;
        border-color: #EEEEEE;
        border-style: solid;
        border-width: 1px 1px 3px;
        color: #3A3E3D;
        width: 100%;
    }
    .website-content a {
        color: #FFFFFF;
        font-size: 24px;
    }
    .responsive-estimate {
        margin-top: 10px;
        width: 94% !important;
    }
    .additional-contact-left {
        float: left;
        padding-right: 4px;
        padding-top: 8px;
        position: relative;
        width: 34%;
    }
    .trip-booked {
        padding-bottom: 10px;
    }
    .demographic {
        margin-left: 10px;
        padding-bottom: 13px;
    }
    .estimated-graph-left {
        background-image: url("images/average-circle-bg.png");
        background-position: 0 74px;
        background-repeat: no-repeat;
        color: #555555;
        float: left;
        font-size: 14px;
        font-weight: lighter;
        padding-left: 15px;
        padding-top: 9.5%;
        width: 23%;
    }
    .top-arrow {
        bottom: -4px;
        left: 290px;
        position: absolute;
    }
    .flag {
        bottom: 0;
        height: 29px;
        left: 44px;
        overflow: hidden;
        position: absolute;
        top: 113px;
        width: 38px;
    }











    @media screen and (orientation:portrait) {
    }
    @media screen and (orientation:landscape) {
    }
}
/*////////////////////////////////////End 800px x 959px\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\*/

/*=========================================================================================================================================*/























/*////////////////////////////////////Start 960px x 1023px\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\*/
@media only screen and (min-width: 960px) and (max-width: 1023px) {



    @media screen and (orientation:portrait) {
    }
    @media screen and (orientation:landscape) {
    }

}
/*////////////////////////////////////End 960px x 1024px\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\*/

/*=========================================================================================================================================*/
























/*////////////////////////////////////Start 1024px x 1151px\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\*/
@media only screen and (min-width: 1024px) and (max-width: 1151px) {


    .wrapper {
        margin: 0 auto;
        width: 1024px;
    }
    .logo {
        float: left;
        height: 26px;
        overflow: hidden;
        padding-left: 10px;
        padding-top: 37px;
        width: 25%;
    }
    .col1 {
        float: left;
        margin-left: 5px;
        width: 47%;
    }
    .col2 {
        float: right;
        margin-right: 5px;
        padding-left: 0;
        width: 49%;
    }
    .meter-all {
        border-right: medium none;
        float: left;
        margin-bottom: 10px;
        margin-top: 5px;
        padding-left: 0;
        text-align: center;
        width: 355px;
    }
    .normal-block {
        color: #3A3E3D;
        font-size: 14px;
        width: 91%;
    }
    .estimated-trip-value-top {
        background-color: #6DCABF;
        margin-top: 10px;
        padding-bottom: 7px;
        position: relative;
        width: 100%;
    }
    .white-block {
        background: none repeat scroll 0 0 #FFFFFF;
        border-color: #EEEEEE;
        border-style: solid;
        border-width: 1px 1px 3px;
        color: #3A3E3D;
        width: 100%;
    }
    .website-content a {
        color: #FFFFFF;
        font-size: 24px;
    }
    .responsive-estimate {
        margin-top: 10px;
        padding-left: 10px;
        width: 97.5% !important;
    }
    .additional-contact-left {
        float: left;
        padding-right: 4px;
        padding-top: 8px;
        position: relative;
        width: 34%;
    }
    .trip-booked {
        padding-bottom: 10px;
    }
    .demographic {
        margin-left: 10px;
        padding-bottom: 13px;
    }
    .estimated-graph-left {
        background-image: url("images/average-circle-bg.png");
        background-position: 0 74px;
        background-repeat: no-repeat;
        color: #555555;
        float: left;
        font-size: 14px;
        font-weight: lighter;
        padding-left: 15px;
        padding-top: 7.1%;
        width: 23%;
    }
    .top-arrow {
        bottom: -4px;
        left: 345px;
        position: absolute;
    }
    .main-container-row {
        padding: 0 0 23px;
        width: 99%;
    }
    .total-price {
        background-color: #FAFBFD;
        border-top: 1px solid #EEEEEE;
        font-size: 20px;
        font-weight: bold;
        padding: 10px 17px 10px 0;
        text-align: center;
        width: 70%;
    }
    .white-block-content-left2 {
        float: left;
        font-weight: bold;
        padding-left: 15px;
        padding-right: 0;
        text-align: left;
        width: 235px;
    }
    .flag {
        bottom: 0;
        height: 29px;
        left: 43px;
        overflow: hidden;
        position: absolute;
        top: 113px;
        width: 39px;
    }




    @media screen and (orientation:portrait) {
    }
    @media screen and (orientation:landscape) {
    }
}
/*////////////////////////////////////1024px x 1151px\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\*/























/*=========================================================================================================================================*/

/*////////////////////////////////////Start 1152px x 1279px\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\*/
@media only screen and (min-width: 1152px) and (max-width: 1279px) {




    @media screen and (orientation:portrait) {
    }
    @media screen and (orientation:landscape) {
    }
}
/*////////////////////////////////////End 1152px x 1279px\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\*/
























/*=========================================================================================================================================*/

/*////////////////////////////////////Start 1280px x 1399px\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\*/
@media only screen and (min-width: 1280px) and (max-width: 1399px) {





    @media screen and (orientation:portrait) {
    }
    @media screen and (orientation:landscape) {
    }
}
/*////////////////////////////////////End 1280px x 1399px\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\*/
/*=========================================================================================================================================*/








