<?php echo $this->Html->css('custom'); ?>
<?php echo $this->element('menu'); ?>
<div class="sliderImages index slider_general">
    <?php //echo $this->element('royal_slider'); ?>
    <h2><?php echo __('Slider Images'); ?></h2>
	<table cellpadding="0" cellspacing="0">
	<thead>
	<tr>
			<th><?php echo $this->Paginator->sort('id'); ?></th>
			<th><?php echo $this->Paginator->sort('image_link'); ?></th>
			<th><?php echo $this->Paginator->sort('order'); ?></th>
            <th><?php echo $this->Paginator->sort('transition_type'); ?></th>
            <th><?php echo $this->Paginator->sort('speed'); ?></th>
			<th class="actions"><?php echo __('Actions'); ?></th>
	</tr>
	</thead>
	<tbody>
	<?php foreach ($sliderImages as $sliderImage): ?>
	<tr>
		<td><?php echo h($sliderImage['SliderImage']['id']); ?>&nbsp;</td>
		<td><?php echo h($sliderImage['SliderImage']['image_link']); ?>&nbsp;</td>
        <td><?php echo h($sliderImage['SliderImage']['order']); ?>&nbsp;</td>
        <td><?php echo h($sliderImage['SliderImage']['transition_type']); ?>&nbsp;</td>
        <td><?php echo h($sliderImage['SliderImage']['speed']); ?>&nbsp;</td>
		<td class="actions">
            <?php echo $this->Html->link(__('Use Default'), array('action' => 'default', $sliderImage['SliderImage']['id'])); ?>
            <?php echo $this->Html->link(__('View Layers'), array('action' => 'layers', $sliderImage['SliderImage']['id'])); ?>
			<?php echo $this->Html->link(__('Edit'), array('action' => 'edit', $sliderImage['SliderImage']['id'])); ?>
			<?php echo $this->Form->postLink(__('Delete'), array('action' => 'delete', $sliderImage['SliderImage']['id']), array('confirm' => __('Are you sure you want to delete # %s?', $sliderImage['SliderImage']['id']))); ?>
		</td>
	</tr>
<?php endforeach; ?>
	</tbody>
	</table>
	<p>
	<?php
	echo $this->Paginator->counter(array(
		'format' => __('Page {:page} of {:pages}, showing {:current} records out of {:count} total, starting on record {:start}, ending on {:end}')
	));
	?>	</p>
	<div class="paging">
	<?php
		echo $this->Paginator->prev('< ' . __('previous'), array(), null, array('class' => 'prev disabled'));
		echo $this->Paginator->numbers(array('separator' => ''));
		echo $this->Paginator->next(__('next') . ' >', array(), null, array('class' => 'next disabled'));
	?>
	</div>
</div>
<div class="actions">
	<h3><?php echo __('Actions'); ?></h3>
	<ul>
		<li><?php echo $this->Html->link(__('New Slider Image'), array('action' => 'add')); ?></li>
	</ul>
</div>
