<?php echo $this->Html->css('custom'); ?>
<?php echo $this->element('menu'); ?>
<div class="sliderImages index slider_general">
    <?php //echo $this->element('royal_slider'); ?>
    <h2><?php echo __('Slider Layers of image: '); echo $image_id; ?></h2>
	<table cellpadding="0" cellspacing="0">
	<thead>
	<tr>
			<th><?php echo $this->Paginator->sort('order'); ?></th>
			<th><?php echo $this->Paginator->sort('content_type'); ?></th>
			<th><?php echo $this->Paginator->sort('text'); ?></th>
            <th><?php echo $this->Paginator->sort('image'); ?></th>
			<th class="actions"><?php echo __('Actions'); ?></th>
	</tr>
	</thead>
	<tbody>
	<?php foreach ($layers as $layer): ?>
	<tr>
		<td><?php echo h($layer['order']); ?>&nbsp;</td>
		<td><?php echo h($layer['content_type']); ?>&nbsp;</td>
        <td><?php echo h($layer['text']); ?>&nbsp;</td>
        <td><?php echo h($layer['image']); ?>&nbsp;</td>
		<td class="actions">
			<?php echo $this->Html->link(__('Edit'), array('action' => 'edit_layer', $layer['id'])); ?>
			<?php echo $this->Form->postLink(__('Delete'), array('action' => 'delete_layer', $layer['id']), array('confirm' => __('Are you sure you want to delete # %s?', $layer['id']))); ?>
		</td>
	</tr>
<?php endforeach; ?>
	</tbody>
	</table>
	<p>
	<?php
	echo $this->Paginator->counter(array(
		'format' => __('Page {:page} of {:pages}, showing {:current} records out of {:count} total, starting on record {:start}, ending on {:end}')
	));
	?>	</p>
	<div class="paging">
	<?php
		echo $this->Paginator->prev('< ' . __('previous'), array(), null, array('class' => 'prev disabled'));
		echo $this->Paginator->numbers(array('separator' => ''));
		echo $this->Paginator->next(__('next') . ' >', array(), null, array('class' => 'next disabled'));
	?>
	</div>
</div>
<div class="actions">
	<h3><?php echo __('Actions'); ?></h3>
	<ul>
		<li><?php echo $this->Html->link(__('Add a Layer'), array('controller' => 'sliderImages', 'action' => 'add_layer', $image_id)); ?></li>
	</ul>
</div>
